<div class="row justify-content-center">
    <div class="col-9 desktop">
        <div class="row linha-acima">
            <div class="font-gray-calvo">
                <h5>Orçamento</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="font-red-calvo">
                <h5>Cotação de Listas de Produtos</h5>
            </div>
        </div>
    </div>
    <div class="col-12 mobile">
        <div class="row justify-content-center linha-acima">
            <div class="font-gray-calvo">
                <h5>Orçamento</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="font-red-calvo">
                <h5>Cotação de Listas de Produtos</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-9 titulo-parc">
        <h2>Bebidas</h2>
        <div class="borda-bottom"></div>
    </div>
</div>
<div class="row justify-content-center margin_linha orca_vazio">
    <div class="col-9 titulo_orca">
        <h4>Você não possui produtos na lista para cotação</h4>
        <div class="row">
            <div class="col-md-3">
                <button class="btn_selecionar_produtos">SELECIONAR PRODUTOS</button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-9">
        <div class="row margin_zero topo_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos" style="text-align: center;">
                <h6>Código</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos" style="text-align: center;">
                <h6>Quantidade</h6>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro">
                <span>00000</span>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro border_quant">
                <span>1</span>
            </div>
            <div class="col-md-1 campo_topo_produtos centro close_black">
                <span>X</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro">
                <span>00000</span>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro border_quant">
                <span>1</span>
            </div>
            <div class="col-md-1 campo_topo_produtos centro close_black">
                <span>X</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro">
                <span>00000</span>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro border_quant">
                <span>1</span>
            </div>
            <div class="col-md-1 campo_topo_produtos centro close_black">
                <span>X</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro">
                <span>00000</span>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro border_quant">
                <span>1</span>
            </div>
            <div class="col-md-1 campo_topo_produtos centro close_black">
                <span>X</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro">
                <span>00000</span>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro border_quant">
                <span>1</span>
            </div>
            <div class="col-md-1 campo_topo_produtos centro close_black">
                <span>X</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro">
                <span>00000</span>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro border_quant">
                <span>1</span>
            </div>
            <div class="col-md-1 campo_topo_produtos centro close_black">
                <span>X</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro">
                <span>00000</span>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro border_quant">
                <span>1</span>
            </div>
            <div class="col-md-1 campo_topo_produtos centro close_black">
                <span>X</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-md-4 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro">
                <span>00000</span>
            </div>
            <div class="col-md-1 offset-md-2 campo_topo_produtos centro border_quant">
                <span>1</span>
            </div>
            <div class="col-md-1 campo_topo_produtos centro close_black">
                <span>X</span>
            </div>
        </div>
        <div class="row margin_zero">
            <div class="col-md-4 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-9 padding_zero">
                        <button class="btn_selecionar_produtos">SOLICITAR ORÇAMENTO</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1 offset-md-5 centro padding_zero margin_itens text_itens">
                <h6>Total de Ítens</h6>
            </div>
            <div class="col-md-1 centro margin_itens">
                <h4>8</h4>
            </div>
        </div>
    </div>
</div>
