<div class="row justify-content-center">
    <div class="col-9">
        <div class="row linha-acima">
            <div class="col-sm-1 font-gray-calvo">
                <h5>Atacado</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="col-sm-4 font-red-calvo">
                <h5>Hortifruit</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-9 titulo-parc">
        <h2>Hortifruit</h2>
        <div class="borda-bottom"></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row margin_linha espaco-left">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-sm-12 border-gray">
                        <select class="select_busca" name="" id="">
                            <option value="">Ordenar Por</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-4 margin-paragrafo">
                <p>Monstrando 16 resultados de 72</p>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-sm-12">
                        <input  class="campo" type="text" value="Buscar produto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 offset-md-8 lupa_altura">
                        <svg-icon [src]="pesquisar" [svgStyle]="{'width.px':30}"></svg-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>