<div class="row justify-content-center">
    <div class="col-9 margin_linha">
        <div class="row linha-acima" >
            <div class="col-sm-1 font-gray-calvo">
                <h5>Atacado</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="col-sm-4 font-red-calvo">
                <h5>Lista Completa de Produtos</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9 ">
        <div class="row">
            <div class="col-md-6 titulo-parc">
                <h2>Lista Completa de Produtos</h2>
            </div>
            <div class="col-md-3 offset-md-3">
                <button class="btn_lista_compras">
                    <div class="row">
                        <div class="col-sm-8 text_btn_list">
                            Baixar Lista de Produtos
                        </div>
                        <div class="col-sm-4">
                            <svg-icon [src]="downlist" [svgStyle]="{'width.%':100}"></svg-icon>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        
        <div class="borda-bottom margin_linha"></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row margin_linha">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-sm-12 border-gray">
                        <select class="select_busca" name="" id="">
                            <option value="">Ordenar Por</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-4 margin-paragrafo">
                <p>Monstrando 16 resultados de 72</p>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-sm-12">
                        <input  class="campo" type="text" value="Buscar produto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 offset-md-9 lupa_altura">
                        <svg-icon [src]="pesquisar" [svgStyle]="{'width.%':100}"></svg-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row margin_linha_list">
            <div class="col-sm-1 box_lista_top">
                <span>Nº</span>
            </div>
            <div class="col-md-2 box_lista_top">
                <span>Código Calvo</span>
            </div>
            <div class="col-md-3 box_lista_top">
                <span>Descrição do Produto</span>
            </div>
            <div class="col-md-2 box_lista_top_r ">
                <span>Unidade de Medida</span>
            </div>
            <div class="col-md-2 box_lista_top_r">
                <span>Código EAN</span>
            </div>
            <div class="col-md-2 box_lista_top_r_y">
                <span>Solicitar Orçamento</span>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row margin_linha_list">
            <div class="col-sm-1 box_gelo">
                <span>01</span>    
            </div>
            <div class="col-sm-2 box_gelo">
                <span>55814</span>
            </div>
            <div class="col-sm-3 box_gelo">
                <span>ABACATE AVOCADO kg</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <span>KG</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <span>55814</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <div class="icone-lista">
                    <svg-icon [src]='orcamento' [svgStyle]="{'heigth.%':100}"></svg-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row margin_linha_list">
            <div class="col-sm-1 box_gelo_">
                <span>01</span>    
            </div>
            <div class="col-sm-2 box_gelo_">
                <span>55814</span>
            </div>
            <div class="col-sm-3 box_gelo_">
                <span>ABACATE AVOCADO kg</span>
            </div>
            <div class="col-sm-2 box_gelo_">
                <span>KG</span>
            </div>
            <div class="col-sm-2 box_gelo_">
                <span>55814</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <div class="icone-lista">
                    <svg-icon [src]='orcamento' [svgStyle]="{'heigth.%':100}"></svg-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row margin_linha_list">
            <div class="col-sm-1 box_gelo">
                <span>01</span>    
            </div>
            <div class="col-sm-2 box_gelo">
                <span>55814</span>
            </div>
            <div class="col-sm-3 box_gelo">
                <span>ABACATE AVOCADO kg</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <span>KG</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <span>55814</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <div class="icone-lista">
                    <svg-icon [src]='orcamento' [svgStyle]="{'heigth.%':100}"></svg-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row margin_linha_list">
            <div class="col-sm-1 box_gelo_">
                <span>01</span>    
            </div>
            <div class="col-sm-2 box_gelo_">
                <span>55814</span>
            </div>
            <div class="col-sm-3 box_gelo_">
                <span>ABACATE AVOCADO kg</span>
            </div>
            <div class="col-sm-2 box_gelo_">
                <span>KG</span>
            </div>
            <div class="col-sm-2 box_gelo_">
                <span>55814</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <div class="icone-lista">
                    <svg-icon [src]='orcamento' [svgStyle]="{'heigth.%':100}"></svg-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row margin_linha_list">
            <div class="col-sm-1 box_gelo">
                <span>01</span>    
            </div>
            <div class="col-sm-2 box_gelo">
                <span>55814</span>
            </div>
            <div class="col-sm-3 box_gelo">
                <span>ABACATE AVOCADO kg</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <span>KG</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <span>55814</span>
            </div>
            <div class="col-sm-2 box_gelo">
                <div class="icone-lista">
                    <svg-icon [src]='orcamento' [svgStyle]="{'heigth.%':100}"></svg-icon>
                </div>
            </div>
        </div>
    </div>
</div>