<div class="row justify-content-center display_dicas">
    <div class="col-9 bg-image-dicas">
        <div class="col-lg branco_calvo font-carousel">
            <h1>{{D}}</h1>
        </div>
        <div class="col-lg branco_calvo font-carousel">
            <h2>{{busniess}}</h2>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-1 subt_progra_app">
                <h2></h2>
            </div>
        </div>
    </div>
    <div class="col-9 bg-image-dicas_mob">
        <div class="col-lg branco_calvo font-carousel_mob">
            <h1>{{D}}</h1>
        </div>
        <div class="col-lg branco_calvo subt_progra_app_mob">
            <h3>{{busniess}}</h3>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-1 subt_progra_app">
                <h2></h2>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 text_mais_sucess">
        <h3>{{mais_sucesso}}</h3>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 dicas_select">
        <h3>{{dicas_select}}</h3>
    </div>
</div>
<div class="row justify-content-center margin_linha">
        <div class="col-8 book">
            <h3>{{ebook}}</h3>
        </div>
</div>
<div class="row justify-content-center bg_ebook">
    <div class="col-9">
        <div class="row">
            <div class="col-md-3 padding_zero">
                <div class="row margin_book">
                    <div class="col-sm-12 bg_gray_book"></div>
                </div>
                <div class="row margin_book">
                    <div class="col-sm-12 bg_white_book">
                    </div>
                </div>
                <img class="img_book" [src]="book_1" alt="">
                <div class="row">
                    <div class="col-sm-7 offset-sm-3 text_ebook_link">
                        <h4>Dogueiros</h4>
                        <span>Baixar E-book</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 padding_zero">
                <div class="row margin_book">
                    <div class="col-sm-12 bg_gray_book"></div>
                </div>
                <div class="row margin_book">
                    <div class="col-sm-12 bg_white_book"></div>
                </div>
                <img class="img_book" [src]="book_2" alt="">
                <div class="row">
                    <div class="col-sm-7 offset-sm-3 text_ebook_link">
                        <h4>Pizzarias</h4>
                        <span>Baixar E-book</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 padding_zero">
                <div class="row margin_book">
                    <div class="col-sm-12 bg_gray_book"></div>
                </div>
                <div class="row margin_book">
                    <div class="col-sm-12 bg_white_book"></div>
                </div>
                <img  class="img_book" [src]="book_3" alt="">
                <div class="row">
                    <div class="col-sm-7 offset-sm-3 text_ebook_link">
                        <h4>Pastelarias</h4>
                        <span>Baixar E-book</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 padding_zero">
                <div class="row margin_book">
                    <div class="col-sm-12 bg_gray_book"></div>
                </div>
                <div class="row margin_book">
                    <div class="col-sm-12 bg_white_book"></div>
                </div>
                <img class="img_book" [src]="book_4" alt="">
                <div class="row">
                    <div class="col-sm-7 offset-sm-3 text_ebook_link">
                        <h4>Mercearias</h4>
                        <span>Baixar E-book</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
