
   <div class="row justify-content-center">
       <div class="col-10 margintop_carrossel">
         <div class="col-12">
            <img class="central border_radius" [src]="maesday" alt="">
         </div>
         <div class="col-12">
            <img class="central border_radius" [src]="banner_empresa" alt="">
         </div>
         <div class="col-12">
            <img class="central border_radius" [src]="program_fidel" alt="">
            <div class="row titulo_absolute">
                <div class="col-lg branco_calvo font-25px">
                    <h1>{{prog}}<br>{{fid}}</h1>
                </div>
            </div>
            <div class="row titulo_absolute_abaixo">
                <div class="col-12 subt_progra_app_">
                    <h2>{{down}}</h2>
                </div>
            </div>
            <div class="row icones_app">
                <div class="col-6">
                    <svg-icon [src]="apple_desktop" ></svg-icon>
                </div>
                <div class="col-6">
                    <svg-icon [src]="android_desktop"></svg-icon>
                </div>
            </div>
         </div>
         <div class="col-12">
            <img [src]="newbanner_desk"  class="central border_radius" alt="">
            <!-- <div class="row">
                <div class="col-lg branco_calvo font-carousel">
                    <h1>O Melhor<br> Atacado da<br> Zona Leste</h1>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-2">
                    <button class="btn-home-saiba">Saiba Mais</button>
                </div>
            </div>
         </div>
         <div class="col-12">
            <img class="central border_radius"[src]="bannerdicas" alt="">
            <div class="row titulo_absolute">
                <div class="col-12">
                    <div class="col-lg branco_calvo font-carousel">
                        <h1>{{D}}</h1>
                    </div>
                    <div class="col-lg branco_calvo font-carousel">
                        <h2>{{busniess}}</h2>
                    </div>
                </div>
            </div>
         </div>
       </div>
        <div class="col-12 margin_top_banner mobile">
            <img class="central" [src]="newbanner_mob" alt="">
            <div class="row">
                <div class="col-sm-12 font_branco_mobile_tablet">
                    <!-- <h3>O Melhor<br> Atacado da<br> Zona Leste</h3> -->
                    <button class="btn-home-saiba-table">Saiba Mais</button>
                </div>
                <div class="col-sm-12 font_branco_mobile">
                    <!-- <h5>O Melhor<br> Atacado da<br> Zona Leste</h5> -->
                    <button class="btn-home-saiba-phone">Saiba Mais</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center margin_linha">
            <div class="co-8 centro">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
 
    <div class="row justify-content-center">
        <div class="col-8 padding_zero">
            <div class="row margin_linha">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">  
                            <a class="link_home" [routerLink]="['/programa']">
                                <img class="central" [src]="fidelidade" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-5 branco_calvo text-home">
                            <h6>{{prog}}<br>{{fid}}</h6>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-7 offset-sm-1">
                            <button class="btn_cadastro">Cadastre-se e Saiba Mais</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="link_home" [routerLink]="['/dicas']">
                                <img [src]="dicas" alt="" class="central">
                            </span>
                        </div>
                    </div>
                <!-- <div class="row">
                    <div class="col-sm-5 black_calvo text-home">
                        <h6>Dicas</h6>
                    </div>
                </div> -->
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="link_home" [routerLink]="['/receitas']">
                                <img [src]="receitas" alt="" class="central">
                            </span>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-5 branco_calvo text-home">
                            <h6>Receitas</h6>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 padding_zero">
            <div class="row margin_linha">
                <div class="col-md-8 offset-md-1 centro">
                    <h2>ENTREGAMOS EM TODA CIDADE DE SÃO PAULO</h2>
                    <h4>COMPRAS POR CATEGORIAS</h4>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-2 icones">
                            <svg-icon [src]="headphone" [svgStyle]="{ 'width.px':30 }"></svg-icon>
                        </div>
                        <div class="col-sm-6 centro font-20px">
                            <span>PABX</span><br>
                            <span>2723-6000</span>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 padding_zero">
            <div class="row margin_linha">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="mercearia" alt="">
                            <h4>Mercearia</h4>
                            <span [routerLink]="['/atacado/mercearia']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="frios" alt="">
                            <h4>Perecíveis</h4>
                            <span [routerLink]="['/atacado/pereciveis']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="hortifruit" alt="">
                            <h4>Hortifruit</h4>
                            <span [routerLink]="['/atacado/hortifruit']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="limpeza" alt="">
                            <h4>Limpeza</h4>
                            <span [routerLink]="['/atacado/limpeza']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img [src]="higiene" alt="" class="central">
                            <h4>Higiene</h4>
                            <span [routerLink]="['/atacado/higiene']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img [src]="newdrinks" alt="" class="central">
                            <h4>Bebidas</h4>
                            <span  [routerLink]="['/atacado/bebidas']">Ver Tudo</span>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="row margin_linha">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="cestas" alt="">
                            <h4>Cestas Básicas</h4>
                            <span [routerLink]="['']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="institucional" alt="">
                            <h4>Institucional</h4>
                            <span [routerLink]="['/atacado/institucional']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="carnes" alt="">
                            <h4>Carnes</h4>
                            <span [routerLink]="['/atacado/carnes']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="pet" alt="">
                            <h4>Pet</h4>
                            <span [routerLink]="['/atacado/pet']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img [src]="papelaria" alt="" class="central">
                            <h4>Papelaria</h4>
                            <span [routerLink]="['/atacado/papelaria']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img [src]="descartaveis" alt="" class="central">
                            <h4>Outros</h4>
                            <span [routerLink]="['/atacado/outros']">Ver Tudo</span>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="row justify-content-center display">
        <div class="col-8 margin_linha bg-kit">
            <div class="row margin-kit">
                <div class="col-sm-1 offset-sm-2 branco_calvo font-kit">
                    <h2>Kits Especiais</h2>
                </div>
                <div class="col-sm-4 offset-sm-7 cestas_basicas">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="central" [src]="kit_um" alt="">
                        </div>
                        <div class="col-sm-5">
                            <img class="central" [src]="kit_dois" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 offset-sm-2">
                            <button class="btn-home-saiba_arredon" (click)="kits_especiais()">
                                Saiba Mais
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 margin_linha bg-kit_mobile">
            <img class="img_fundo" [src]="img_fundo" alt="">
            <div class="row margin-kit">
                <div class="col-sm-4 offset-sm-2 font-kit_mobile">
                    <h2>Kits Especiais</h2>
                </div>
                <div class="col-sm-4 offset-sm-7 cestas_basicas_mobile">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="central-mobile" [src]="kit_um" alt="">
                        </div>
                        <div class="col-sm-5">
                            <img class="central-mobile" [src]="kit_dois" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 offset-sm-2">
                            <button class="btn-home-saiba_arredon" (click)="kits_especiais()">
                                Saiba Mais
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 padding_zero margin_linha">
            <div class="row">
                <div class="col-md-7 offset-md-2 centro espaco_top_bottom" >
                    <h3>OFERTAS DA SEMANA</h3>
                </div>
                <div class="col-md-3">
                    <button class="btn-tabloide flex" (click)="baixartabloide()">
                        <div class="col-sm-6 offset-sm-4 legenda-btn-tabloide">
                            Baixar Tabloide
                        </div>
                        <div class="col-sm-3">
                            <svg-icon [src]="orcamento" [svgStyle]="{'width.px':30 }"></svg-icon>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 padding_zero">
            <div class="row margin_linha">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_a" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_b" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_c" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_d" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_linha">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_e" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_f" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_g" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_h" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_linha">
                <div class="col-md-4 offset-md-4">
                    <button class="btn-carregar_cinza">
                        Carregar Mais Ofertas
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 margin_linha">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div class="row">
                                <div class="col-sm-9 posicao_sobre desktop">
                                    <h4>
                                        Fale com 
                                        nossos 
                                        compradores
                                    </h4>
                                </div>
                            </div> -->
                            <img [src]="compradores" alt="" class="central">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn-saiba_yellow desktop">Saiba Mais</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- <div class="row">
                        <div class="col-sm-9 posicao_sobre desktop">
                            <h4>
                                    Seja nosso
                                    fornecedor
                            </h4>
                        </div>
                        <div class="col-sm-12 posicao_sobre mobile">
                            <h6>Fale com nossos compradores</h6>
                            <button class="btn_saiba_mais_mobile">Saiba Mais</button>
                        </div>
                    </div> -->
                    <img [src]="fornecedores" alt="" class="central">                        
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn-saiba_yellow desktop" (click)="fornecedor()">Saiba Mais</button>
                        </div>
                        <div class="col-sm-12 posicao_sobre  mobile">
                            <h6>Seja nosso fornecedor</h6>
                            <button class="btn_saiba_mais_mobile">Saiba Mais</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


